In [1]:
from sklearn import tree
import pandas as pd

In [45]:
url = 'https://raw.githubusercontent.com/akjadon/HH/master/Python/DS_tutorials_all/Data/tennis-time.csv.txt'

In [46]:
df = pd.read_csv(url,sep=',')

In [47]:
df

     outlook  temp humidity  windy  time
0      sunny   hot     high  False    26
1      sunny   hot     high   True    30
2   overcast   hot     high  False    48
3      rainy  mild     high  False    46
4      rainy  cool   normal  False    62
5      rainy  cool   normal   True    23
6   overcast  cool   normal   True    43
7      sunny  mild     high  False    36
8      sunny  cool   normal  False    38
9      rainy  mild   normal  False    48
10     sunny  mild   normal   True    48
11  overcast  mild     high   True    62
12  overcast   hot   normal  False    44
13     rainy  mild     high   True    30

In [48]:
from sklearn.preprocessing import LabelEncoder
for i in df.columns:
    le = LabelEncoder()
    df[i] = le.fit_transform(df[i])

In [49]:
df

    outlook  temp  humidity  windy  time
0         2     1         0      0     1
1         2     1         0      1     2
2         0     1         0      0     8
3         1     2         0      0     7
4         1     0         1      0     9
5         1     0         1      1     0
6         0     0         1      1     5
7         2     2         0      0     3
8         2     0         1      0     4
9         1     2         1      0     8
10        2     2         1      1     8
11        0     2         0      1     9
12        0     1         1      0     6
13        1     2         0      1     2

In [50]:
from sklearn.tree import DecisionTreeRegressor

In [51]:
dt = DecisionTreeRegressor()

In [53]:
dt.fit(df.drop('time',axis=1), df.time)

DecisionTreeRegressor(criterion='mse', max_depth=None, max_features=None,
           max_leaf_nodes=None, min_impurity_decrease=0.0,
           min_impurity_split=None, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           presort=False, random_state=None, splitter='best')

In [54]:
export_graphviz(dt,'regtree.dot',feature_names=['outlook','temp','humidity','windy'])